In [2]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('meat_consumption_worldwide.csv')

# Create a mapping dictionary for short names to long names
country_mapping = {
    'AUS': 'Australia',
    'CAN': 'Canada',
    'JPN': 'Japan',
    'KOR': 'South Korea',
    'MEX': 'Mexico',
    'NZL': 'New Zealand',
    'TUR': 'Turkey',
    'USA': 'United States',
    'DZA': 'Algeria',
    'ARG': 'Argentina',
    'BGD': 'Bangladesh',
    'BRA': 'Brazil',
    'CHL': 'Chile',
    'CHN': 'China',
    'COL': 'Colombia',
    'EGY': 'Egypt',
    'ETH': 'Ethiopia',
    'GHA': 'Ghana',
    'HTI': 'Haiti',
    'IND': 'India',
    'IDN': 'Indonesia',
    'IRN': 'Iran',
    'ISR': 'Israel',
    'KAZ': 'Kazakhstan',
    'MYS': 'Malaysia',
    'MOZ': 'Mozambique',
    'NGA': 'Nigeria',
    'PAK': 'Pakistan',
    'PRY': 'Paraguay',
    'PER': 'Peru',
    'PHL': 'Philippines',
    'RUS': 'Russia',
    'SAU': 'Saudi Arabia',
    'ZAF': 'South Africa',
    'SDN': 'Sudan',
    'TZA': 'Tanzania',
    'THA': 'Thailand',
    'UKR': 'Ukraine',
    'URY': 'Uruguay',
    'VNM': 'Vietnam',
    'ZMB': 'Zambia',
    'WLD': 'World',
    'SSA': 'Sub-Saharan Africa',
    'OECD': 'OECD Members',
    'BRICS': 'BRICS Countries',
    'EU28': 'European Union (28 countries)',
    'NOR': 'Norway',
    'CHE': 'Switzerland'
}

# Map the short country names to long names and add as a new column
df['Country Name'] = df['LOCATION'].map(country_mapping)

# Save the modified DataFrame to a new CSV file
df.to_csv('modified_meat_consumption_worldwide.csv', index=False)

# Display the modified DataFrame
df.head()

  LOCATION SUBJECT MEASURE  TIME      Value Country Name
0      AUS    BEEF  KG_CAP  1991  27.721815    Australia
1      AUS    BEEF  KG_CAP  1992  26.199591    Australia
2      AUS    BEEF  KG_CAP  1993  26.169094    Australia
3      AUS    BEEF  KG_CAP  1994  25.456134    Australia
4      AUS    BEEF  KG_CAP  1995  25.340226    Australia