# World Health Statistics
### Merged according to category similarity

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
import numpy as np
import warnings
from itertools import product
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore", ConvergenceWarning)

In [2]:
# Define the directory path
directory = r"D:\IE 423\Project\ie423-2024-termproject-the-a-team\ie423-2024-termproject-the-a-team\DataSets\WorldHealth"

# Define the filenames for each group of CSV files
mortality_files = ["infantMortalityRate.csv", "under5MortalityRate.csv", "neonatalMortalityRate.csv", "mortalityRatePoisoning.csv", "crudeSuicideRates.csv", "30-70cancerChdEtc.csv"]
life_expectancy_files = ["lifeExpectancyAtBirth.csv", "WHOregionLifeExpectancyAtBirth.csv", "HALeWHOregionLifeExpectancyAtBirth.csv", "HALElifeExpectancyAtBirth.csv", "%HaleInLifeExpectancy.csv"]
health_services_files = ["basicDrinkingWaterServices.csv", "atLeastBasicSanitizationServices.csv", "safelySanitization.csv", "basicHandWashing.csv", "birthAttendedBySkilledPersonal.csv"]
disease_incidence_files = ["interventionAgianstNTDs.csv", "incedenceOfMalaria.csv", "incedenceOfTuberculosis.csv", "hepatitusBsurfaceAntigen.csv", "newHivInfections.csv"]
maternal_health_files = ["maternalMortalityRatio.csv"]

# Function to merge CSV files
def merge_csv_files(files):
    dfs = []
    for file in files:
        filepath = os.path.join(directory, file)
        if os.path.exists(filepath):
            df = pd.read_csv(filepath)
            dfs.append(df)
        else:
            print(f"File '{file}' not found.")
    if dfs:
        merged_df = pd.concat(dfs, ignore_index=True)
        return merged_df
    else:
        return None

# Merge mortality files
merged_mortality = merge_csv_files(mortality_files)

# Merge life expectancy files
merged_life_expectancy = merge_csv_files(life_expectancy_files)

# Merge health services files
merged_health_services = merge_csv_files(health_services_files)

# Merge disease incidence files
merged_disease_incidence = merge_csv_files(disease_incidence_files)

# Merge maternal health files
merged_maternal_health = merge_csv_files(maternal_health_files)

In [3]:
# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Loop through each CSV file
for file in csv_files:
    # Construct the full path to the CSV file
    file_path = os.path.join(directory, file)
    
    # Load the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Display basic information about the DataFrame
    print(f"Information about {file}:")
    print(df.info())
    print("\nSummary statistics:")
    print(df.describe())
    print("\nSample data:")
    print(df.head())
    print("\n\n")

Information about %HaleInLifeExpectancy.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      72 non-null     object
 1   Period                        72 non-null     int64
 2   Indicator                     72 non-null     object
 3   Dim1                          72 non-null     object
 4   Hale Expectency               72 non-null     float64
 5   Life expectany                72 non-null     float64
 6   Unnamed: 6                    72 non-null     float64
 7   % OF HALE in life expectancy  72 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 4.6+ KB
None

Summary statistics:
            Period  Hale Expectency  Life expectany  Unnamed: 6  \
count    72.000000        72.000000       72.000000   72.000000
mean   2011.000000        61.403333       70.556806   87.038804
std       7.156205         5.982161        6.880156    1.417579
min    2000.000000        45.030000       51.060000   84.556613
25%    2007.500000        57.870000       66.585000   86.022416
50%    2012.500000        61.665000       71.375000   87.040977
75%    2016.000000        66.360000       75.525000   88.185157
max    2019.000000        70.240000       81.290000   90.128940

       % OF HALE in life expectancy
count                     72.000000
mean                      87.013889
std                        1.409156
min                       85.000000
25%                       86.000000
50%                       87.000000
75%                       88.000000
max                       90.000000

Sample data:
  Location  Period                                        Indicator  \
0   Africa    2019  Healthy life expectancy (HALE) at birth (years)
1   Africa    2019  Healthy life expectancy (HALE) at birth (years)
2   Africa    2019  Healthy life expectancy (HALE) at birth (years)
3   Africa    2015  Healthy life expectancy (HALE) at birth (years)
4   Africa    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  Hale Expectency  Life expectany  Unnamed: 6  \
0  Both sexes            56.04           64.49   86.897193
1        Male            55.00           62.37   88.183422
2      Female            57.09           66.65   85.656414
3  Both sexes            54.42           62.56   86.988491
4        Male            53.38           60.47   88.275178

   % OF HALE in life expectancy
0                            87
1                            88
2                            86
3                            87
4                            88



Information about 30-70cancerChdEtc.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2745 entries, 0 to 2744
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2745 non-null   object
 1   Period         2745 non-null   int64
 2   Indicator      2745 non-null   object
 3   Dim1           2745 non-null   object
 4   First Tooltip  2745 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 107.4+ KB
None

Summary statistics:
            Period  First Tooltip
count  2745.000000    2745.000000
mean   2009.200000      20.644809
std       6.047588       6.884163
min    2000.000000       4.700000
25%    2005.000000      15.800000
50%    2010.000000      20.300000
75%    2015.000000      24.700000
max    2016.000000      51.700000

Sample data:
      Location  Period                                          Indicator  \
0  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
1  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
2  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
3  Afghanistan    2015  Probability (%) of dying between age 30 and ex...
4  Afghanistan    2015  Probability (%) of dying between age 30 and ex...

         Dim1  First Tooltip
0  Both sexes           29.8
1        Male           31.8
2      Female           27.7
3  Both sexes           29.8
4        Male           31.9



Information about airPollutionDeathRate.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588 entries, 0 to 6587
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       6588 non-null   object
 1   Dim2           6588 non-null   object
 2   Indicator      6588 non-null   object
 3   Period         6588 non-null   int64
 4   Dim1           6588 non-null   object
 5   First Tooltip  6588 non-null   object
dtypes: int64(1), object(5)
memory usage: 308.9+ KB
None

Summary statistics:
       Period
count  6588.0
mean   2016.0
std       0.0
min    2016.0
25%    2016.0
50%    2016.0
75%    2016.0
max    2016.0

Sample data:
      Location   Dim2                                          Indicator  \
0  Afghanistan  Total  Ambient and household air pollution attributab...
1  Afghanistan  Total  Ambient and household air pollution attributab...
2  Afghanistan  Total  Ambient and household air pollution attributab...
3  Afghanistan  Total  Ambient and household air pollution attributab...
4  Afghanistan  Total  Ambient and household air pollution attributab...

   Period        Dim1        First Tooltip
0    2016  Both sexes  95.12 [85.12-104.3]
1    2016        Male     95.58 [85.5-106]
2    2016      Female  94.63 [84.55-103.9]
3    2016  Both sexes  211.1 [188.9-231.3]
4    2016        Male  228.7 [204.6-253.6]



Information about atLeastBasicSanitizationServices.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9368 entries, 0 to 9367
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       9368 non-null   object
 1   Indicator      9368 non-null   object
 2   Period         9368 non-null   int64
 3   Dim1           9368 non-null   object
 4   First Tooltip  9368 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 366.1+ KB
None

Summary statistics:
            Period  First Tooltip
count  9368.000000    9368.000000
mean   2008.547716      69.540464
std       5.168834      30.778488
min    2000.000000       1.190000
25%    2004.000000      44.285000
50%    2009.000000      82.500000
75%    2013.000000      97.085000
max    2017.000000     100.000000

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Population using at least basic sanitation ser...    2017
1  Afghanistan  Population using at least basic sanitation ser...    2017
2  Afghanistan  Population using at least basic sanitation ser...    2017
3  Afghanistan  Population using at least basic sanitation ser...    2016
4  Afghanistan  Population using at least basic sanitation ser...    2016

    Dim1  First Tooltip
0  Total          43.42
1  Urban          62.26
2  Rural          37.05
3  Total          42.05
4  Urban          59.92



Information about basicDrinkingWaterServices.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3455 non-null   object
 1   Period         3455 non-null   int64
 2   Indicator      3455 non-null   object
 3   First Tooltip  3455 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 108.1+ KB
None

Summary statistics:
            Period  First Tooltip
count  3455.000000    3455.000000
mean   2008.529957      77.847103
std       5.170589      23.987570
min    2000.000000      10.130000
25%    2004.000000      59.895000
50%    2009.000000      87.650000
75%    2013.000000      98.460000
max    2017.000000     100.000000

Sample data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Population using at least basic drinking-water...
1  Afghanistan    2016  Population using at least basic drinking-water...
2  Afghanistan    2015  Population using at least basic drinking-water...
3  Afghanistan    2014  Population using at least basic drinking-water...
4  Afghanistan    2013  Population using at least basic drinking-water...

   First Tooltip
0          57.32
1          54.84
2          52.39
3          49.96
4          47.56



Information about basicHandWashing.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2726 entries, 0 to 2725
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2726 non-null   object
 1   Indicator      2726 non-null   object
 2   Period         2726 non-null   int64
 3   Dim1           2726 non-null   object
 4   First Tooltip  2726 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 106.6+ KB
None

Summary statistics:
            Period  First Tooltip
count  2726.000000    2726.000000
mean   2011.547689      47.842825
std       4.015260      32.651335
min    2000.000000       0.000000
25%    2009.000000      16.622500
50%    2012.000000      47.515000
75%    2015.000000      81.500000
max    2017.000000     100.000000

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Population with basic handwashing facilities a...    2017
1  Afghanistan  Population with basic handwashing facilities a...    2017
2  Afghanistan  Population with basic handwashing facilities a...    2017
3  Afghanistan  Population with basic handwashing facilities a...    2016
4  Afghanistan  Population with basic handwashing facilities a...    2016

    Dim1  First Tooltip
0  Total          37.75
1  Urban          63.58
2  Rural          29.02
3  Total          37.67
4  Urban          63.58



Information about birthAttendedBySkilledPersonal.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755 entries, 0 to 1754
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       1755 non-null   object
 1   Period         1755 non-null   int64
 2   Indicator      1755 non-null   object
 3   First Tooltip  1755 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 55.0+ KB
None

Summary statistics:
            Period  First Tooltip
count  1755.000000    1755.000000
mean   2009.226211      92.045442
std       5.117502      16.557089
min    2000.000000       5.700000
25%    2005.000000      95.350000
50%    2009.000000      99.000000
75%    2014.000000      99.800000
max    2019.000000     100.000000

Sample data:
      Location  Period                                        Indicator  \
0  Afghanistan    2018  Births attended by skilled health personnel (%)
1  Afghanistan    2017  Births attended by skilled health personnel (%)
2  Afghanistan    2015  Births attended by skilled health personnel (%)
3  Afghanistan    2014  Births attended by skilled health personnel (%)
4  Afghanistan    2012  Births attended by skilled health personnel (%)

   First Tooltip
0           58.8
1           53.4
2           50.5
3           45.2
4           39.9



Information about crudeSuicideRates.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2745 entries, 0 to 2744
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2745 non-null   object
 1   Period         2745 non-null   int64
 2   Indicator      2745 non-null   object
 3   Dim1           2745 non-null   object
 4   First Tooltip  2745 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 107.4+ KB
None

Summary statistics:
            Period  First Tooltip
count  2745.000000    2745.000000
mean   2009.200000       8.129909
std       6.047588       9.560630
min    2000.000000       0.000000
25%    2005.000000       1.900000
50%    2010.000000       5.700000
75%    2015.000000      11.400000
max    2016.000000      93.500000

Sample data:
      Location  Period                                     Indicator  \
0  Afghanistan    2016  Crude suicide rates (per 100 000 population)
1  Afghanistan    2016  Crude suicide rates (per 100 000 population)
2  Afghanistan    2016  Crude suicide rates (per 100 000 population)
3  Afghanistan    2015  Crude suicide rates (per 100 000 population)
4  Afghanistan    2015  Crude suicide rates (per 100 000 population)

         Dim1  First Tooltip
0  Both sexes            0.0
1        Male            0.0
2      Female            0.0
3  Both sexes            4.8
4        Male            7.8



Information about HALElifeExpectancyAtBirth.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196 entries, 0 to 2195
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2196 non-null   object
 1   Period         2196 non-null   int64
 2   Indicator      2196 non-null   object
 3   Dim1           2196 non-null   object
 4   First Tooltip  2196 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 85.9+ KB
None

Summary statistics:
            Period  First Tooltip
count  2196.000000    2196.000000
mean   2011.000000      61.394854
std       7.107954       7.683352
min    2000.000000      25.370000
25%    2007.500000      56.240000
50%    2012.500000      63.110000
75%    2016.000000      67.130000
max    2019.000000      75.480000

Sample data:
      Location  Period                                        Indicator  \
0  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
1  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
2  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
3  Afghanistan    2015  Healthy life expectancy (HALE) at birth (years)
4  Afghanistan    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  First Tooltip
0  Both sexes          53.95
1        Male          54.73
2      Female          53.15
3  Both sexes          52.60
4        Male          52.78



Information about HALeWHOregionLifeExpectancyAtBirth.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      72 non-null     object
 1   Period                        72 non-null     int64
 2   Indicator                     72 non-null     object
 3   Dim1                          72 non-null     object
 4   Hale Expectency               72 non-null     float64
 5   Life expectany                72 non-null     float64
 6   Unnamed: 6                    72 non-null     float64
 7   % OF HALE in life expectancy  72 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 4.6+ KB
None

Summary statistics:
            Period  Hale Expectency  Life expectany  Unnamed: 6  \
count    72.000000        72.000000       72.000000   72.000000
mean   2011.000000        61.403333       70.556806   87.038804
std       7.156205         5.982161        6.880156    1.417579
min    2000.000000        45.030000       51.060000   84.556613
25%    2007.500000        57.870000       66.585000   86.022416
50%    2012.500000        61.665000       71.375000   87.040977
75%    2016.000000        66.360000       75.525000   88.185157
max    2019.000000        70.240000       81.290000   90.128940

       % OF HALE in life expectancy
count                     72.000000
mean                      87.013889
std                        1.409156
min                       85.000000
25%                       86.000000
50%                       87.000000
75%                       88.000000
max                       90.000000

Sample data:
  Location  Period                                        Indicator  \
0   Africa    2019  Healthy life expectancy (HALE) at birth (years)
1   Africa    2019  Healthy life expectancy (HALE) at birth (years)
2   Africa    2019  Healthy life expectancy (HALE) at birth (years)
3   Africa    2015  Healthy life expectancy (HALE) at birth (years)
4   Africa    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  Hale Expectency  Life expectany  Unnamed: 6  \
0  Both sexes            56.04           64.49   86.897193
1        Male            55.00           62.37   88.183422
2      Female            57.09           66.65   85.656414
3  Both sexes            54.42           62.56   86.988491
4        Male            53.38           60.47   88.275178

   % OF HALE in life expectancy
0                            87
1                            88
2                            86
3                            87
4                            88



Information about hepatitusBsurfaceAntigen.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       194 non-null    object
 1   Indicator      194 non-null    object
 2   Period         194 non-null    int64
 3   First Tooltip  194 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.2+ KB
None

Summary statistics:
       Period
count   194.0
mean   2015.0
std       0.0
min    2015.0
25%    2015.0
50%    2015.0
75%    2015.0
max    2015.0

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Hepatitis B surface antigen (HBsAg) prevalence...    2015
1      Albania  Hepatitis B surface antigen (HBsAg) prevalence...    2015
2      Algeria  Hepatitis B surface antigen (HBsAg) prevalence...    2015
3      Andorra  Hepatitis B surface antigen (HBsAg) prevalence...    2015
4       Angola  Hepatitis B surface antigen (HBsAg) prevalence...    2015

      First Tooltip
0   0.5 [0.29-0.78]
1  1.29 [0.83-1.91]
2  0.22 [0.12-0.34]
3     0.08 [0-1.65]
4  4.85 [3.29-6.81]



Information about incedenceOfMalaria.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2033 non-null   object
 1   Indicator      2033 non-null   object
 2   Period         2033 non-null   int64
 3   First Tooltip  2033 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 63.7+ KB
None

Summary statistics:
            Period  First Tooltip
count  2033.000000    2033.000000
mean   2009.000000     109.186490
std       5.478573     157.895669
min    2000.000000       0.000000
25%    2004.000000       0.520000
50%    2009.000000      11.150000
75%    2014.000000     200.000000
max    2018.000000     743.500000

Sample data:
      Location                                         Indicator  Period  \
0  Afghanistan  Malaria incidence (per 1 000 population at risk)    2018
1  Afghanistan  Malaria incidence (per 1 000 population at risk)    2017
2  Afghanistan  Malaria incidence (per 1 000 population at risk)    2016
3  Afghanistan  Malaria incidence (per 1 000 population at risk)    2015
4  Afghanistan  Malaria incidence (per 1 000 population at risk)    2014

   First Tooltip
0          29.01
1          27.07
2          26.11
3          14.91
4          12.67



Information about incedenceOfTuberculosis.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857 entries, 0 to 3856
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3857 non-null   object
 1   Indicator      3857 non-null   object
 2   Period         3857 non-null   int64
 3   First Tooltip  3857 non-null   object
dtypes: int64(1), object(3)
memory usage: 120.7+ KB
None

Summary statistics:
            Period
count  3857.000000
mean   2009.536946

### Merged Mortality

In [4]:
if merged_mortality is not None:
    print("Merged Mortality Data:")
    print(merged_mortality.head())

Merged Mortality Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2019  Infant mortality rate (probability of dying be...
1  Afghanistan    2019  Infant mortality rate (probability of dying be...
2  Afghanistan    2019  Infant mortality rate (probability of dying be...
3  Afghanistan    2018  Infant mortality rate (probability of dying be...
4  Afghanistan    2018  Infant mortality rate (probability of dying be...

         Dim1        First Tooltip
0  Both sexes  46.51 [37.71-55.82]
1        Male    49.8 [40.2-59.95]
2      Female  43.05 [34.82-51.96]
3  Both sexes  48.04 [39.94-56.32]
4        Male   51.35 [42.56-60.4]

In [15]:
# Check for missing values in the merged_life_expectancy DataFrame
missing_values_mortality = merged_mortality.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_mortality)

       Location  Period  Indicator   Dim1  First Tooltip
0         False   False      False  False          False
1         False   False      False  False          False
2         False   False      False  False          False
3         False   False      False  False          False
4         False   False      False  False          False
...         ...     ...        ...    ...            ...
77363     False   False      False  False          False
77364     False   False      False  False          False
77365     False   False      False  False          False
77366     False   False      False  False          False
77367     False   False      False  False          False

[77368 rows x 5 columns]

#### Check for Duplicates

In [35]:
duplicate_rows = merged_mortality[merged_mortality.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

#### Check Unique Values

In [36]:
unique_counts = merged_mortality.nunique()
print(unique_counts)

Location           200
Period              70
Indicator            6
Dim1                 3
First Tooltip    69311
dtype: int64

In [37]:
merged_mortality.describe()

             Period
count  77368.000000
mean    1991.856969
std       18.531457
min     1950.000000
25%     1978.000000
50%     1995.000000
75%     2008.000000
max     2019.000000

In [38]:
print(merged_mortality.dtypes)

Location         object
Period            int64
Indicator        object
Dim1             object
First Tooltip    object
dtype: object

##### location, indicator, dim1, first tooltip are all categorical variables

In [42]:
merged_mortality.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]

In [49]:
#Dim1 is irrelevant to our analysis so we will drop it 

# Print the columns in your DataFrame
print(merged_mortality.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_mortality.columns:
    # Drop the 'Dim1' column
    merged_mortality.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_mortality.head()

Index(['Location', 'Period', 'Indicator', 'First Tooltip'], dtype='object')
'Dim1' column not found in DataFrame.

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,51.35 [42.56-60.4]

### Merged Life Expectency

In [5]:
if merged_life_expectancy is not None:
    print("Merged Life Expectancy Data:")
    print(merged_life_expectancy.head())

Merged Life Expectancy Data:
      Location  Period                         Indicator        Dim1  \
0  Afghanistan    2019  Life expectancy at birth (years)  Both sexes
1  Afghanistan    2019  Life expectancy at birth (years)        Male
2  Afghanistan    2019  Life expectancy at birth (years)      Female
3  Afghanistan    2015  Life expectancy at birth (years)  Both sexes
4  Afghanistan    2015  Life expectancy at birth (years)        Male

   First Tooltip  Hale Expectency  Life expectany  Unnamed: 6  \
0          63.21              NaN             NaN         NaN
1          63.29              NaN             NaN         NaN
2          63.16              NaN             NaN         NaN
3          61.65              NaN             NaN         NaN
4          61.04              NaN             NaN         NaN

   % OF HALE in life expectancy
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN

In [6]:
# Check the columns before dropping
print("Columns before dropping:")
print(merged_life_expectancy.columns)

# Drop the 'Unnamed: 6' column
merged_life_expectancy.drop(columns=['Unnamed: 6'], inplace=True)

# Check the columns after dropping
print("\nColumns after dropping 'Unnamed: 6':")
print(merged_life_expectancy.columns)

Columns before dropping:
Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip',
       'Hale Expectency', 'Life expectany', 'Unnamed: 6',
       '% OF HALE in life expectancy'],
      dtype='object')

Columns after dropping 'Unnamed: 6':
Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip',
       'Hale Expectency', 'Life expectany', '% OF HALE in life expectancy'],
      dtype='object')

In [13]:
merged_life_expectancy.tail()

,Location,Period,Indicator,Dim1,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
4604,Western Pacific,2010,Healthy life expectancy (HALE) at birth (years),Male,NaN,65.36,72.52,90.0
4605,Western Pacific,2010,Healthy life expectancy (HALE) at birth (years),Female,NaN,68.79,78.75,87.0
4606,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,NaN,64.27,72.42,89.0
4607,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Male,NaN,62.91,69.80,90.0
4608,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Female,NaN,65.78,75.33,87.0

In [14]:
# Check for missing values in the merged_life_expectancy DataFrame
missing_values_life_expectancy = merged_life_expectancy.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_life_expectancy)

      Location  Period  Indicator   Dim1  First Tooltip  Hale Expectency  \
0        False   False      False  False          False             True
1        False   False      False  False          False             True
2        False   False      False  False          False             True
3        False   False      False  False          False             True
4        False   False      False  False          False             True
...        ...     ...        ...    ...            ...              ...
4604     False   False      False  False           True            False
4605     False   False      False  False           True            False
4606     False   False      False  False           True            False
4607     False   False      False  False           True            False
4608     False   False      False  False           True            False

      Life expectany  % OF HALE in life expectancy
0               True                          True
1               True                          True
2               True                          True
3               True                          True
4               True                          True
...              ...                           ...
4604           False                         False
4605           False                         False
4606           False                         False
4607           False                         False
4608           False                         False

[4609 rows x 8 columns]

In [16]:
# true values = null 
#since they are important to our analysis will use imputation 
#to decide on whether to use mean,mode, median
merged_life_expectancy.describe()

,Period,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
count,4609.000000,4465.000000,144.000000,144.000000,144.000000
mean,2010.980256,65.888116,61.403333,70.556806,87.013889
std,7.231646,9.410087,5.961208,6.856057,1.404220
min,1920.000000,25.370000,45.030000,51.060000,85.000000
25%,2000.000000,60.140000,57.870000,66.585000,86.000000
50%,2010.000000,66.400000,61.665000,71.375000,87.000000
75%,2015.000000,72.280000,66.360000,75.525000,88.000000
max,2019.000000,86.940000,70.240000,81.290000,90.000000

In [22]:
print(merged_life_expectancy.dtypes)
#Mean: Use the mean when the data is normally distributed and does not have outliers.
#Median: Use the median when the data has outliers or is not normally distributed.
#Mode: Use the mode for categorical or discrete data, although in your case, you're dealing with continuous variables.

Location                         object
Period                            int64
Indicator                        object
Dim1                             object
First Tooltip                   float64
Hale Expectency                 float64
Life expectany                  float64
% OF HALE in life expectancy    float64
dtype: object

In [25]:
#location, indicator, dim1 are categorical variables
#For continuous variables Fist Tooltip, Hale Expectancy, Life Expectancy,and % OF HALE in life expectancy
#use the median for imputation due to the presence of outliers, which can skew the mean.
# Calculate the medians
median_hale = merged_life_expectancy['Hale Expectency'].median()
median_life = merged_life_expectancy['Life expectany'].median()
median_hale_pct = merged_life_expectancy['% OF HALE in life expectancy'].median()
median_tooltip = merged_life_expectancy['First Tooltip'].median()

# Fill missing values with medians
merged_life_expectancy['Hale Expectency'].fillna(median_hale, inplace=True)
merged_life_expectancy['Life expectany'].fillna(median_life, inplace=True)
merged_life_expectancy['% OF HALE in life expectancy'].fillna(median_hale_pct, inplace=True)
merged_life_expectancy['First Tooltip'].fillna(median_tooltip, inplace=True)

# Verify that missing values are filled
print(merged_life_expectancy.isnull().sum())

Location                        0
Period                          0
Indicator                       0
Dim1                            0
First Tooltip                   0
Hale Expectency                 0
Life expectany                  0
% OF HALE in life expectancy    0
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_13684\2695820863.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_life_expectancy['Hale Expectency'].fillna(median_hale, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_13684\2695820863.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_life_expectancy['Life expectany'].fillna(median_life, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_13684\2695820863.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_life_expectancy['% OF HALE in life expectancy'].fillna(median_hale_pct, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_13684\2695820863.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_life_expectancy['First Tooltip'].fillna(median_tooltip, inplace=True)

In [50]:
merged_life_expectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21,61.665,71.375,87.0
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29,61.665,71.375,87.0
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16,61.665,71.375,87.0
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65,61.665,71.375,87.0
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04,61.665,71.375,87.0

In [51]:
print(merged_life_expectancy.dtypes)

Location                         object
Period                            int64
Indicator                        object
Dim1                             object
First Tooltip                   float64
Hale Expectency                 float64
Life expectany                  float64
% OF HALE in life expectancy    float64
dtype: object

In [55]:

#Dim1 is irrelevant to our analysis so we will drop it 

# Print the columns in your DataFrame
print(merged_life_expectancy.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_life_expectancy.columns:
    # Drop the 'Dim1' column
    merged_life_expectancy.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_life_expectancy.head()

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip',
       'Hale Expectency', 'Life expectany', '% OF HALE in life expectancy'],
      dtype='object')

,Location,Period,Indicator,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
0,Afghanistan,2019,Life expectancy at birth (years),63.21,61.665,71.375,87.0
1,Afghanistan,2019,Life expectancy at birth (years),63.29,61.665,71.375,87.0
2,Afghanistan,2019,Life expectancy at birth (years),63.16,61.665,71.375,87.0
3,Afghanistan,2015,Life expectancy at birth (years),61.65,61.665,71.375,87.0
4,Afghanistan,2015,Life expectancy at birth (years),61.04,61.665,71.375,87.0

#### Checking for Duplicate Rows

In [56]:
duplicate_rows = merged_life_expectancy[merged_life_expectancy.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate Rows:
             Location  Period  \
3405           Kuwait    2010
3795             Oman    2019
3809         Pakistan    2015
4537           Africa    2019
4538           Africa    2019
...               ...     ...
4604  Western Pacific    2010
4605  Western Pacific    2010
4606  Western Pacific    2000
4607  Western Pacific    2000
4608  Western Pacific    2000

                                            Indicator  First Tooltip  \
3405  Healthy life expectancy (HALE) at birth (years)          69.21
3795  Healthy life expectancy (HALE) at birth (years)          64.51
3809  Healthy life expectancy (HALE) at birth (years)          55.78
4537  Healthy life expectancy (HALE) at birth (years)          66.40
4538  Healthy life expectancy (HALE) at birth (years)          66.40
...                                               ...            ...
4604  Healthy life expectancy (HALE) at birth (years)          66.40
4605  Healthy life expectancy (HALE) at birth (years)          66.40
4606  Healthy life expectancy (HALE) at birth (years)          66.40
4607  Healthy life expectancy (HALE) at birth (years)          66.40
4608  Healthy life expectancy (HALE) at birth (years)          66.40

      Hale Expectency  Life expectany  % OF HALE in life expectancy
3405           61.665          71.375                          87.0
3795           61.665          71.375                          87.0
3809           61.665          71.375                          87.0
4537           56.040          64.490                          87.0
4538           55.000          62.370                          88.0
...               ...             ...                           ...
4604           65.360          72.520                          90.0
4605           68.790          78.750                          87.0
4606           64.270          72.420                          89.0
4607           62.910          69.800                          90.0
4608           65.780          75.330                          87.0

[75 rows x 7 columns]

### Merged Health Services

In [7]:
if merged_health_services is not None:
    print("Merged Health Services Data:")
    print(merged_health_services.head())

Merged Health Services Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Population using at least basic drinking-water...
1  Afghanistan    2016  Population using at least basic drinking-water...
2  Afghanistan    2015  Population using at least basic drinking-water...
3  Afghanistan    2014  Population using at least basic drinking-water...
4  Afghanistan    2013  Population using at least basic drinking-water...

   First Tooltip Dim1
0          57.32  NaN
1          54.84  NaN
2          52.39  NaN
3          49.96  NaN
4          47.56  NaN

In [27]:
# Check for missing values in the merged_life_expectancy DataFrame
missing_values_merged_health_services = merged_health_services.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_merged_health_services)

       Location  Period  Indicator  First Tooltip  Dim1
0         False   False      False          False  True
1         False   False      False          False  True
2         False   False      False          False  True
3         False   False      False          False  True
4         False   False      False          False  True
...         ...     ...        ...            ...   ...
20954     False   False      False          False  True
20955     False   False      False          False  True
20956     False   False      False          False  True
20957     False   False      False          False  True
20958     False   False      False          False  True

[20959 rows x 5 columns]

In [29]:
print(merged_health_services.dtypes)

Location          object
Period             int64
Indicator         object
First Tooltip    float64
Dim1              object
dtype: object

In [31]:
#location, indicator, dim1 are categorical variables
merged_health_services.describe()

             Period  First Tooltip
count  20959.000000   20959.000000
mean    2008.994275      68.297133
std        5.129152      31.351259
min     2000.000000       0.000000
25%     2005.000000      41.675000
50%     2009.000000      80.950000
75%     2013.000000      96.800000
max     2019.000000     100.000000

In [34]:
#Dim1 is a categorical variable so use mode imputation
# Calculate the mode for 'Dim1' column
mode_value = merged_health_services['Dim1'].mode()[0]  # Using [0] to get the first mode if multiple

# Fill missing values in 'Dim1' column with the mode
merged_health_services['Dim1'].fillna(mode_value, inplace=True)

# Verify that missing values are filled
print(merged_health_services.isnull().sum())

Location         0
Period           0
Indicator        0
First Tooltip    0
Dim1             0
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_13684\2069298338.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_health_services['Dim1'].fillna(mode_value, inplace=True)

In [52]:
merged_health_services.head()

,Location,Period,Indicator,First Tooltip,Dim1
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32,Total
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84,Total
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39,Total
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96,Total
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56,Total

### Merged Disease Incidence

In [8]:
if merged_disease_incidence is not None:
    print("Merged Disease Incidence Data:")
    print(merged_disease_incidence.head())

Merged Disease Incidence Data:
      Location                                          Indicator  Period  \
0  Afghanistan  Reported number of people requiring interventi...    2018
1  Afghanistan  Reported number of people requiring interventi...    2017
2  Afghanistan  Reported number of people requiring interventi...    2016
3  Afghanistan  Reported number of people requiring interventi...    2015
4  Afghanistan  Reported number of people requiring interventi...    2014

  First Tooltip Dim1
0      14834701  NaN
1      14786722  NaN
2      13275429  NaN
3      13765392  NaN
4      13384908  NaN

### Maternal Health

In [10]:
if merged_maternal_health is not None:
    print("Merged Maternal Health Data:")
    print(merged_maternal_health.head())

Merged Maternal Health Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Maternal mortality ratio (per 100 000 live bir...
1  Afghanistan    2016  Maternal mortality ratio (per 100 000 live bir...
2  Afghanistan    2015  Maternal mortality ratio (per 100 000 live bir...
3  Afghanistan    2014  Maternal mortality ratio (per 100 000 live bir...
4  Afghanistan    2013  Maternal mortality ratio (per 100 000 live bir...

    First Tooltip
0  638 [427-1010]
1  673 [457-1040]
2  701 [501-1020]
3  786 [592-1080]
4  810 [617-1080]