# World Health Statistics

In [11]:
import pandas as pd
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
import numpy as np
import warnings
from itertools import product
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore", ConvergenceWarning)
# Set the directory path
directory = r"C:\Users\Ahmad1\Documents\GitHub\ie423-2024-termproject-the-a-team\DataSets\WorldHealth"

# Initialize an empty list to store DataFrames
dfs = []

# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Read each CSV file into a DataFrame and append to the list
for file in csv_files:
    filepath = os.path.join(directory, file)
    df = pd.read_csv(filepath)
    dfs.append(df)

# Merge all DataFrames in the list on a common column (e.g., 'Location', 'Period')
# Assuming you want to merge on 'Location' and 'Period'
wh_df = pd.concat(dfs, ignore_index=True)

# Now you have a single DataFrame containing data from all CSV files
# You can perform further operations or export this DataFrame if needed

In [12]:
wh_df.head()

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9,NaN,NaN,NaN,NaN,NaN

In [13]:
wh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123675 entries, 0 to 123674
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Location                      123675 non-null  object
 1   Period                        123675 non-null  int64
 2   Indicator                     123675 non-null  object
 3   Dim1                          107341 non-null  object
 4   First Tooltip                 123603 non-null  object
 5   Dim2                          6588 non-null    object
 6   Hale Expectency               72 non-null      float64
 7   Life expectany                72 non-null      float64
 8   Unnamed: 6                    72 non-null      float64
 9   % OF HALE in life expectancy  72 non-null      float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.4+ MB

In [14]:
print("Columns within the data-set:")
wh_df.columns

Columns within the data-set:

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip', 'Dim2',
       'Hale Expectency', 'Life expectany', 'Unnamed: 6',
       '% OF HALE in life expectancy'],
      dtype='object')

In [15]:
missingvals = wh_df.isnull().sum()
print(missingvals)

Location                             0
Period                               0
Indicator                            0
Dim1                             16334
First Tooltip                       72
Dim2                            117087
Hale Expectency                 123603
Life expectany                  123603
Unnamed: 6                      123603
% OF HALE in life expectancy    123603
dtype: int64

In [20]:
print(wh_df.dtypes)

Location                         object
Period                            int64
Indicator                        object
Dim1                             object
First Tooltip                    object
Dim2                             object
Hale Expectency                 float64
Life expectany                  float64
Unnamed: 6                      float64
% OF HALE in life expectancy    float64
dtype: object

In [ ]:
# Drop columns with a high proportion of missing values
wh_df.drop(['Hale Expectency', 'Life expectany', 'Unnamed: 6', '% OF HALE in life expectancy'], axis=1, inplace=True)

In [21]:
# Impute missing values in 'First Tooltip' column with median
wh_df['First Tooltip'].fillna(wh_df['First Tooltip'].median(), inplace=True)

# Evaluate relevance of 'Dim1' column and handle missing values accordingly

# Remove columns with a high proportion of missing values
wh_df.drop(['Dim2', 'Hale Expectency', 'Life expectany', 'Unnamed: 6', '% OF HALE in life expectancy'], axis=1, inplace=True)

TypeError: could not convert string to float: '95.12 [85.12-104.3]'