# World Health Statistics
### Merged according to category similarity

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
import numpy as np
import warnings
from itertools import product
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore", ConvergenceWarning)

In [2]:
# Define the directory path
directory = r"D:\IE 423\Project\ie423-2024-termproject-the-a-team\ie423-2024-termproject-the-a-team\DataSets\WorldHealth"

# Define the filenames for each group of CSV files
mortality_files = ["infantMortalityRate.csv", "under5MortalityRate.csv", "neonatalMortalityRate.csv", "mortalityRatePoisoning.csv", "crudeSuicideRates.csv", "30-70cancerChdEtc.csv"]
life_expectancy_files = ["lifeExpectancyAtBirth.csv",  "HALElifeExpectancyAtBirth.csv"]
region_files =["WHOregionLifeExpectancyAtBirth.csv", "HALeWHOregionLifeExpectancyAtBirth.csv","%HaleInLifeExpectancy.csv"]
health_services_files = ["basicDrinkingWaterServices.csv", "atLeastBasicSanitizationServices.csv", "safelySanitization.csv", "basicHandWashing.csv", "birthAttendedBySkilledPersonal.csv"]
disease_incidence_files = ["interventionAgianstNTDs.csv", "incedenceOfMalaria.csv", "incedenceOfTuberculosis.csv", "hepatitusBsurfaceAntigen.csv", "newHivInfections.csv"]
maternal_health_files = ["maternalMortalityRatio.csv"]

# Function to merge CSV files
def merge_csv_files(files):
    dfs = []
    for file in files:
        filepath = os.path.join(directory, file)
        if os.path.exists(filepath):
            df = pd.read_csv(filepath)
            dfs.append(df)
        else:
            print(f"File '{file}' not found.")
    if dfs:
        merged_df = pd.concat(dfs, ignore_index=True)
        return merged_df
    else:
        return None


# Merge mortality files
merged_mortality = merge_csv_files(mortality_files)

# Merge life expectancy files
merged_life_expectancy = merge_csv_files(life_expectancy_files)

# Merge region files
merged_region_expectancy = merge_csv_files(region_files)

# Merge health services files
merged_health_services = merge_csv_files(health_services_files)

# Merge disease incidence files
merged_disease_incidence = merge_csv_files(disease_incidence_files)

# Merge maternal health files
merged_maternal_health = merge_csv_files(maternal_health_files)

In [3]:
# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Loop through each CSV file
for file in csv_files:
    # Construct the full path to the CSV file
    file_path = os.path.join(directory, file)
    
    # Load the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Display basic information about the DataFrame
    print(f"Information about {file}:")
    print(df.info())
    print("\nSummary statistics:")
    print(df.describe())
    print("\nSample data:")
    print(df.head())
    print("\n\n")

Information about %HaleInLifeExpectancy.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      72 non-null     object
 1   Period                        72 non-null     int64
 2   Indicator                     72 non-null     object
 3   Dim1                          72 non-null     object
 4   Hale Expectency               72 non-null     float64
 5   Life expectany                72 non-null     float64
 6   Unnamed: 6                    72 non-null     float64
 7   % OF HALE in life expectancy  72 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 4.6+ KB
None

Summary statistics:
            Period  Hale Expectency  Life expectany  Unnamed: 6  \
count    72.000000        72.000000       72.000000   72.000000
mean   2011.000000        61.403333       70.556806   87.038804
std       7.156205         5.982161        6.880156    1.417579
min    2000.000000        45.030000       51.060000   84.556613
25%    2007.500000        57.870000       66.585000   86.022416
50%    2012.500000        61.665000       71.375000   87.040977
75%    2016.000000        66.360000       75.525000   88.185157
max    2019.000000        70.240000       81.290000   90.128940

       % OF HALE in life expectancy
count                     72.000000
mean                      87.013889
std                        1.409156
min                       85.000000
25%                       86.000000
50%                       87.000000
75%                       88.000000
max                       90.000000

Sample data:
  Location  Period                                        Indicator  \
0   Africa    2019  Healthy life expectancy (HALE) at birth (years)
1   Africa    2019  Healthy life expectancy (HALE) at birth (years)
2   Africa    2019  Healthy life expectancy (HALE) at birth (years)
3   Africa    2015  Healthy life expectancy (HALE) at birth (years)
4   Africa    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  Hale Expectency  Life expectany  Unnamed: 6  \
0  Both sexes            56.04           64.49   86.897193
1        Male            55.00           62.37   88.183422
2      Female            57.09           66.65   85.656414
3  Both sexes            54.42           62.56   86.988491
4        Male            53.38           60.47   88.275178

   % OF HALE in life expectancy
0                            87
1                            88
2                            86
3                            87
4                            88



Information about 30-70cancerChdEtc.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2745 entries, 0 to 2744
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2745 non-null   object
 1   Period         2745 non-null   int64
 2   Indicator      2745 non-null   object
 3   Dim1           2745 non-null   object
 4   First Tooltip  2745 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 107.4+ KB
None

Summary statistics:
            Period  First Tooltip
count  2745.000000    2745.000000
mean   2009.200000      20.644809
std       6.047588       6.884163
min    2000.000000       4.700000
25%    2005.000000      15.800000
50%    2010.000000      20.300000
75%    2015.000000      24.700000
max    2016.000000      51.700000

Sample data:
      Location  Period                                          Indicator  \
0  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
1  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
2  Afghanistan    2016  Probability (%) of dying between age 30 and ex...
3  Afghanistan    2015  Probability (%) of dying between age 30 and ex...
4  Afghanistan    2015  Probability (%) of dying between age 30 and ex...

         Dim1  First Tooltip
0  Both sexes           29.8
1        Male           31.8
2      Female           27.7
3  Both sexes           29.8
4        Male           31.9



Information about airPollutionDeathRate.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588 entries, 0 to 6587
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       6588 non-null   object
 1   Dim2           6588 non-null   object
 2   Indicator      6588 non-null   object
 3   Period         6588 non-null   int64
 4   Dim1           6588 non-null   object
 5   First Tooltip  6588 non-null   object
dtypes: int64(1), object(5)
memory usage: 308.9+ KB
None

Summary statistics:
       Period
count  6588.0
mean   2016.0
std       0.0
min    2016.0
25%    2016.0
50%    2016.0
75%    2016.0
max    2016.0

Sample data:
      Location   Dim2                                          Indicator  \
0  Afghanistan  Total  Ambient and household air pollution attributab...
1  Afghanistan  Total  Ambient and household air pollution attributab...
2  Afghanistan  Total  Ambient and household air pollution attributab...
3  Afghanistan  Total  Ambient and household air pollution attributab...
4  Afghanistan  Total  Ambient and household air pollution attributab...

   Period        Dim1        First Tooltip
0    2016  Both sexes  95.12 [85.12-104.3]
1    2016        Male     95.58 [85.5-106]
2    2016      Female  94.63 [84.55-103.9]
3    2016  Both sexes  211.1 [188.9-231.3]
4    2016        Male  228.7 [204.6-253.6]



Information about atLeastBasicSanitizationServices.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9368 entries, 0 to 9367
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       9368 non-null   object
 1   Indicator      9368 non-null   object
 2   Period         9368 non-null   int64
 3   Dim1           9368 non-null   object
 4   First Tooltip  9368 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 366.1+ KB
None

Summary statistics:
            Period  First Tooltip
count  9368.000000    9368.000000
mean   2008.547716      69.540464
std       5.168834      30.778488
min    2000.000000       1.190000
25%    2004.000000      44.285000
50%    2009.000000      82.500000
75%    2013.000000      97.085000
max    2017.000000     100.000000

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Population using at least basic sanitation ser...    2017
1  Afghanistan  Population using at least basic sanitation ser...    2017
2  Afghanistan  Population using at least basic sanitation ser...    2017
3  Afghanistan  Population using at least basic sanitation ser...    2016
4  Afghanistan  Population using at least basic sanitation ser...    2016

    Dim1  First Tooltip
0  Total          43.42
1  Urban          62.26
2  Rural          37.05
3  Total          42.05
4  Urban          59.92



Information about basicDrinkingWaterServices.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3455 non-null   object
 1   Period         3455 non-null   int64
 2   Indicator      3455 non-null   object
 3   First Tooltip  3455 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 108.1+ KB
None

Summary statistics:
            Period  First Tooltip
count  3455.000000    3455.000000
mean   2008.529957      77.847103
std       5.170589      23.987570
min    2000.000000      10.130000
25%    2004.000000      59.895000
50%    2009.000000      87.650000
75%    2013.000000      98.460000
max    2017.000000     100.000000

Sample data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Population using at least basic drinking-water...
1  Afghanistan    2016  Population using at least basic drinking-water...
2  Afghanistan    2015  Population using at least basic drinking-water...
3  Afghanistan    2014  Population using at least basic drinking-water...
4  Afghanistan    2013  Population using at least basic drinking-water...

   First Tooltip
0          57.32
1          54.84
2          52.39
3          49.96
4          47.56



Information about basicHandWashing.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2726 entries, 0 to 2725
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2726 non-null   object
 1   Indicator      2726 non-null   object
 2   Period         2726 non-null   int64
 3   Dim1           2726 non-null   object
 4   First Tooltip  2726 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 106.6+ KB
None

Summary statistics:
            Period  First Tooltip
count  2726.000000    2726.000000
mean   2011.547689      47.842825
std       4.015260      32.651335
min    2000.000000       0.000000
25%    2009.000000      16.622500
50%    2012.000000      47.515000
75%    2015.000000      81.500000
max    2017.000000     100.000000

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Population with basic handwashing facilities a...    2017
1  Afghanistan  Population with basic handwashing facilities a...    2017
2  Afghanistan  Population with basic handwashing facilities a...    2017
3  Afghanistan  Population with basic handwashing facilities a...    2016
4  Afghanistan  Population with basic handwashing facilities a...    2016

    Dim1  First Tooltip
0  Total          37.75
1  Urban          63.58
2  Rural          29.02
3  Total          37.67
4  Urban          63.58



Information about birthAttendedBySkilledPersonal.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755 entries, 0 to 1754
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       1755 non-null   object
 1   Period         1755 non-null   int64
 2   Indicator      1755 non-null   object
 3   First Tooltip  1755 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 55.0+ KB
None

Summary statistics:
            Period  First Tooltip
count  1755.000000    1755.000000
mean   2009.226211      92.045442
std       5.117502      16.557089
min    2000.000000       5.700000
25%    2005.000000      95.350000
50%    2009.000000      99.000000
75%    2014.000000      99.800000
max    2019.000000     100.000000

Sample data:
      Location  Period                                        Indicator  \
0  Afghanistan    2018  Births attended by skilled health personnel (%)
1  Afghanistan    2017  Births attended by skilled health personnel (%)
2  Afghanistan    2015  Births attended by skilled health personnel (%)
3  Afghanistan    2014  Births attended by skilled health personnel (%)
4  Afghanistan    2012  Births attended by skilled health personnel (%)

   First Tooltip
0           58.8
1           53.4
2           50.5
3           45.2
4           39.9



Information about crudeSuicideRates.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2745 entries, 0 to 2744
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2745 non-null   object
 1   Period         2745 non-null   int64
 2   Indicator      2745 non-null   object
 3   Dim1           2745 non-null   object
 4   First Tooltip  2745 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 107.4+ KB
None

Summary statistics:
            Period  First Tooltip
count  2745.000000    2745.000000
mean   2009.200000       8.129909
std       6.047588       9.560630
min    2000.000000       0.000000
25%    2005.000000       1.900000
50%    2010.000000       5.700000
75%    2015.000000      11.400000
max    2016.000000      93.500000

Sample data:
      Location  Period                                     Indicator  \
0  Afghanistan    2016  Crude suicide rates (per 100 000 population)
1  Afghanistan    2016  Crude suicide rates (per 100 000 population)
2  Afghanistan    2016  Crude suicide rates (per 100 000 population)
3  Afghanistan    2015  Crude suicide rates (per 100 000 population)
4  Afghanistan    2015  Crude suicide rates (per 100 000 population)

         Dim1  First Tooltip
0  Both sexes            0.0
1        Male            0.0
2      Female            0.0
3  Both sexes            4.8
4        Male            7.8



Information about HALElifeExpectancyAtBirth.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196 entries, 0 to 2195
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2196 non-null   object
 1   Period         2196 non-null   int64
 2   Indicator      2196 non-null   object
 3   Dim1           2196 non-null   object
 4   First Tooltip  2196 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 85.9+ KB
None

Summary statistics:
            Period  First Tooltip
count  2196.000000    2196.000000
mean   2011.000000      61.394854
std       7.107954       7.683352
min    2000.000000      25.370000
25%    2007.500000      56.240000
50%    2012.500000      63.110000
75%    2016.000000      67.130000
max    2019.000000      75.480000

Sample data:
      Location  Period                                        Indicator  \
0  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
1  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
2  Afghanistan    2019  Healthy life expectancy (HALE) at birth (years)
3  Afghanistan    2015  Healthy life expectancy (HALE) at birth (years)
4  Afghanistan    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  First Tooltip
0  Both sexes          53.95
1        Male          54.73
2      Female          53.15
3  Both sexes          52.60
4        Male          52.78



Information about HALeWHOregionLifeExpectancyAtBirth.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      72 non-null     object
 1   Period                        72 non-null     int64
 2   Indicator                     72 non-null     object
 3   Dim1                          72 non-null     object
 4   Hale Expectency               72 non-null     float64
 5   Life expectany                72 non-null     float64
 6   Unnamed: 6                    72 non-null     float64
 7   % OF HALE in life expectancy  72 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 4.6+ KB
None

Summary statistics:
            Period  Hale Expectency  Life expectany  Unnamed: 6  \
count    72.000000        72.000000       72.000000   72.000000
mean   2011.000000        61.403333       70.556806   87.038804
std       7.156205         5.982161        6.880156    1.417579
min    2000.000000        45.030000       51.060000   84.556613
25%    2007.500000        57.870000       66.585000   86.022416
50%    2012.500000        61.665000       71.375000   87.040977
75%    2016.000000        66.360000       75.525000   88.185157
max    2019.000000        70.240000       81.290000   90.128940

       % OF HALE in life expectancy
count                     72.000000
mean                      87.013889
std                        1.409156
min                       85.000000
25%                       86.000000
50%                       87.000000
75%                       88.000000
max                       90.000000

Sample data:
  Location  Period                                        Indicator  \
0   Africa    2019  Healthy life expectancy (HALE) at birth (years)
1   Africa    2019  Healthy life expectancy (HALE) at birth (years)
2   Africa    2019  Healthy life expectancy (HALE) at birth (years)
3   Africa    2015  Healthy life expectancy (HALE) at birth (years)
4   Africa    2015  Healthy life expectancy (HALE) at birth (years)

         Dim1  Hale Expectency  Life expectany  Unnamed: 6  \
0  Both sexes            56.04           64.49   86.897193
1        Male            55.00           62.37   88.183422
2      Female            57.09           66.65   85.656414
3  Both sexes            54.42           62.56   86.988491
4        Male            53.38           60.47   88.275178

   % OF HALE in life expectancy
0                            87
1                            88
2                            86
3                            87
4                            88



Information about hepatitusBsurfaceAntigen.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       194 non-null    object
 1   Indicator      194 non-null    object
 2   Period         194 non-null    int64
 3   First Tooltip  194 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.2+ KB
None

Summary statistics:
       Period
count   194.0
mean   2015.0
std       0.0
min    2015.0
25%    2015.0
50%    2015.0
75%    2015.0
max    2015.0

Sample data:
      Location                                          Indicator  Period  \
0  Afghanistan  Hepatitis B surface antigen (HBsAg) prevalence...    2015
1      Albania  Hepatitis B surface antigen (HBsAg) prevalence...    2015
2      Algeria  Hepatitis B surface antigen (HBsAg) prevalence...    2015
3      Andorra  Hepatitis B surface antigen (HBsAg) prevalence...    2015
4       Angola  Hepatitis B surface antigen (HBsAg) prevalence...    2015

      First Tooltip
0   0.5 [0.29-0.78]
1  1.29 [0.83-1.91]
2  0.22 [0.12-0.34]
3     0.08 [0-1.65]
4  4.85 [3.29-6.81]



Information about incedenceOfMalaria.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       2033 non-null   object
 1   Indicator      2033 non-null   object
 2   Period         2033 non-null   int64
 3   First Tooltip  2033 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 63.7+ KB
None

Summary statistics:
            Period  First Tooltip
count  2033.000000    2033.000000
mean   2009.000000     109.186490
std       5.478573     157.895669
min    2000.000000       0.000000
25%    2004.000000       0.520000
50%    2009.000000      11.150000
75%    2014.000000     200.000000
max    2018.000000     743.500000

Sample data:
      Location                                         Indicator  Period  \
0  Afghanistan  Malaria incidence (per 1 000 population at risk)    2018
1  Afghanistan  Malaria incidence (per 1 000 population at risk)    2017
2  Afghanistan  Malaria incidence (per 1 000 population at risk)    2016
3  Afghanistan  Malaria incidence (per 1 000 population at risk)    2015
4  Afghanistan  Malaria incidence (per 1 000 population at risk)    2014

   First Tooltip
0          29.01
1          27.07
2          26.11
3          14.91
4          12.67



Information about incedenceOfTuberculosis.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857 entries, 0 to 3856
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3857 non-null   object
 1   Indicator      3857 non-null   object
 2   Period         3857 non-null   int64
 3   First Tooltip  3857 non-null   object
dtypes: int64(1), object(3)
memory usage: 120.7+ KB
None

Summary statistics:
            Period
count  3857.000000
mean   2009.536946

### Merged Mortality

In [4]:
if merged_mortality is not None:
    print("Merged Mortality Data:")
    print(merged_mortality.head())

Merged Mortality Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2019  Infant mortality rate (probability of dying be...
1  Afghanistan    2019  Infant mortality rate (probability of dying be...
2  Afghanistan    2019  Infant mortality rate (probability of dying be...
3  Afghanistan    2018  Infant mortality rate (probability of dying be...
4  Afghanistan    2018  Infant mortality rate (probability of dying be...

         Dim1        First Tooltip
0  Both sexes  46.51 [37.71-55.82]
1        Male    49.8 [40.2-59.95]
2      Female  43.05 [34.82-51.96]
3  Both sexes  48.04 [39.94-56.32]
4        Male   51.35 [42.56-60.4]

In [5]:
# Check for missing values in the merged_life_expectancy DataFrame
missing_values_mortality = merged_mortality.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_mortality)

       Location  Period  Indicator   Dim1  First Tooltip
0         False   False      False  False          False
1         False   False      False  False          False
2         False   False      False  False          False
3         False   False      False  False          False
4         False   False      False  False          False
...         ...     ...        ...    ...            ...
77363     False   False      False  False          False
77364     False   False      False  False          False
77365     False   False      False  False          False
77366     False   False      False  False          False
77367     False   False      False  False          False

[77368 rows x 5 columns]

#### Check for Duplicates

In [6]:
duplicate_rows = merged_mortality[merged_mortality.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

#### Check Unique Values

In [7]:
unique_counts = merged_mortality.nunique()
print(unique_counts)

Location           200
Period              70
Indicator            6
Dim1                 3
First Tooltip    69311
dtype: int64

In [8]:
merged_mortality.describe()

             Period
count  77368.000000
mean    1991.856969
std       18.531457
min     1950.000000
25%     1978.000000
50%     1995.000000
75%     2008.000000
max     2019.000000

In [9]:
print(merged_mortality.dtypes)

Location         object
Period            int64
Indicator        object
Dim1             object
First Tooltip    object
dtype: object

##### location, indicator, dim1, first tooltip are all categorical variables

In [10]:
merged_mortality.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]

In [11]:
# Remove brackets and values inside them, ranges are unnecessary 
merged_mortality['First Tooltip'] = merged_mortality['First Tooltip'].str.extract(r'(\d+\.\d+)', expand=False)

# Convert 'First Tooltip' to float
merged_mortality['First Tooltip'] = merged_mortality['First Tooltip'].astype(float)

# Print the cleaned DataFrame
merged_mortality.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.80
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35

In [12]:
#Dim1 is irrelevant to our analysis so we will drop it 

# Print the columns in your DataFrame
print(merged_mortality.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_mortality.columns:
    # Drop the 'Dim1' column
    merged_mortality.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_mortality.head()

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip'], dtype='object')

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,46.51
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,49.80
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,43.05
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,48.04
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,51.35

### Merged Life Expectency

In [13]:
if merged_life_expectancy is not None:
    print("Merged Life Expectancy Data:")
    print(merged_life_expectancy.head())

Merged Life Expectancy Data:
      Location  Period                         Indicator        Dim1  \
0  Afghanistan    2019  Life expectancy at birth (years)  Both sexes
1  Afghanistan    2019  Life expectancy at birth (years)        Male
2  Afghanistan    2019  Life expectancy at birth (years)      Female
3  Afghanistan    2015  Life expectancy at birth (years)  Both sexes
4  Afghanistan    2015  Life expectancy at birth (years)        Male

   First Tooltip
0          63.21
1          63.29
2          63.16
3          61.65
4          61.04

In [14]:
merged_life_expectancy.tail()

,Location,Period,Indicator,Dim1,First Tooltip
4388,Zimbabwe,2010,Healthy life expectancy (HALE) at birth (years),Male,44.25
4389,Zimbabwe,2010,Healthy life expectancy (HALE) at birth (years),Female,46.12
4390,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,41.03
4391,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Male,40.39
4392,Zimbabwe,2000,Healthy life expectancy (HALE) at birth (years),Female,41.77

In [15]:
# Check for missing values in the merged_life_expectancy DataFrame
missing_values_life_expectancy = merged_life_expectancy.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_life_expectancy)

      Location  Period  Indicator   Dim1  First Tooltip
0        False   False      False  False          False
1        False   False      False  False          False
2        False   False      False  False          False
3        False   False      False  False          False
4        False   False      False  False          False
...        ...     ...        ...    ...            ...
4388     False   False      False  False          False
4389     False   False      False  False          False
4390     False   False      False  False          False
4391     False   False      False  False          False
4392     False   False      False  False          False

[4393 rows x 5 columns]

In [16]:
# true values = null 
#since they are important to our analysis will use imputation 
#to decide on whether to use mean,mode, median
merged_life_expectancy.describe()

            Period  First Tooltip
count  4393.000000    4393.000000
mean   2010.979285      65.811598
std       7.237751       9.427245
min    1920.000000      25.370000
25%    2000.000000      60.070000
50%    2010.000000      66.280000
75%    2015.000000      72.200000
max    2019.000000      86.940000

In [17]:
print(merged_life_expectancy.dtypes)
#Mean: Use the mean when the data is normally distributed and does not have outliers.
#Median: Use the median when the data has outliers or is not normally distributed.
#Mode: Use the mode for categorical or discrete data, although in your case, you're dealing with continuous variables.

Location          object
Period             int64
Indicator         object
Dim1              object
First Tooltip    float64
dtype: object

In [18]:
#location, indicator, dim1 are categorical variables

In [19]:
merged_life_expectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [20]:
#Dim1 is irrelevant to our analysis so we will drop it 

# Print the columns in your DataFrame
print(merged_life_expectancy.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_life_expectancy.columns:
    # Drop the 'Dim1' column
    merged_life_expectancy.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_life_expectancy.head()

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip'], dtype='object')

      Location  Period                         Indicator  First Tooltip
0  Afghanistan    2019  Life expectancy at birth (years)          63.21
1  Afghanistan    2019  Life expectancy at birth (years)          63.29
2  Afghanistan    2019  Life expectancy at birth (years)          63.16
3  Afghanistan    2015  Life expectancy at birth (years)          61.65
4  Afghanistan    2015  Life expectancy at birth (years)          61.04

#### Checking for Duplicate Rows

In [21]:
duplicate_rows = merged_life_expectancy[merged_life_expectancy.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate Rows:
      Location  Period                                        Indicator  \
3261    Kuwait    2010  Healthy life expectancy (HALE) at birth (years)
3651      Oman    2019  Healthy life expectancy (HALE) at birth (years)
3665  Pakistan    2015  Healthy life expectancy (HALE) at birth (years)

      First Tooltip
3261          69.21
3651          64.51
3665          55.78

### Region Expectancy

In [22]:
if merged_region_expectancy is not None:
    print("Merged Region Expectancy Data:")
    print(merged_region_expectancy.head())

Merged Region Expectancy Data:
  Location  Period                         Indicator        Dim1  \
0   Africa    2019  Life expectancy at birth (years)  Both sexes
1   Africa    2019  Life expectancy at birth (years)        Male
2   Africa    2019  Life expectancy at birth (years)      Female
3   Africa    2015  Life expectancy at birth (years)  Both sexes
4   Africa    2015  Life expectancy at birth (years)        Male

   First Tooltip  Hale Expectency  Life expectany  Unnamed: 6  \
0          64.49              NaN             NaN         NaN
1          62.37              NaN             NaN         NaN
2          66.65              NaN             NaN         NaN
3          62.56              NaN             NaN         NaN
4          60.47              NaN             NaN         NaN

   % OF HALE in life expectancy
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN

In [23]:
print(merged_region_expectancy.dtypes)

Location                         object
Period                            int64
Indicator                        object
Dim1                             object
First Tooltip                   float64
Hale Expectency                 float64
Life expectany                  float64
Unnamed: 6                      float64
% OF HALE in life expectancy    float64
dtype: object

In [24]:
merged_region_expectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,Africa,2019,Life expectancy at birth (years),Both sexes,64.49,NaN,NaN,NaN,NaN
1,Africa,2019,Life expectancy at birth (years),Male,62.37,NaN,NaN,NaN,NaN
2,Africa,2019,Life expectancy at birth (years),Female,66.65,NaN,NaN,NaN,NaN
3,Africa,2015,Life expectancy at birth (years),Both sexes,62.56,NaN,NaN,NaN,NaN
4,Africa,2015,Life expectancy at birth (years),Male,60.47,NaN,NaN,NaN,NaN

In [25]:
# Check the columns before dropping
print("Columns before dropping:")
print(merged_region_expectancy.columns)

# Drop the 'Unnamed: 6' and dim1  column
merged_region_expectancy.drop(columns=['Unnamed: 6', 'Dim1'], inplace=True)

 #Check the columns after dropping
print("\nColumns after dropping :")
print(merged_region_expectancy.columns)

Columns before dropping:
Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip',
       'Hale Expectency', 'Life expectany', 'Unnamed: 6',
       '% OF HALE in life expectancy'],
      dtype='object')

Columns after dropping :
Index(['Location', 'Period', 'Indicator', 'First Tooltip', 'Hale Expectency',
       'Life expectany', '% OF HALE in life expectancy'],
      dtype='object')

In [26]:
print(merged_region_expectancy.head)

<bound method NDFrame.head of             Location  Period                                        Indicator  \
0             Africa    2019                 Life expectancy at birth (years)
1             Africa    2019                 Life expectancy at birth (years)
2             Africa    2019                 Life expectancy at birth (years)
3             Africa    2015                 Life expectancy at birth (years)
4             Africa    2015                 Life expectancy at birth (years)
..               ...     ...                                              ...
211  Western Pacific    2010  Healthy life expectancy (HALE) at birth (years)
212  Western Pacific    2010  Healthy life expectancy (HALE) at birth (years)
213  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)
214  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)
215  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)

     First Tooltip  Hale Expectency  Life expectany  \
0            64.49              NaN             NaN
1            62.37              NaN             NaN
2            66.65              NaN             NaN
3            62.56              NaN             NaN
4            60.47              NaN             NaN
..             ...              ...             ...
211            NaN            65.36           72.52
212            NaN            68.79           78.75
213            NaN            64.27           72.42
214            NaN            62.91           69.80
215            NaN            65.78           75.33

     % OF HALE in life expectancy
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
..                            ...
211                          90.0
212                          87.0
213                          89.0
214                          90.0
215                          87.0

[216 rows x 7 columns]>

In [27]:
print(merged_region_expectancy.dtypes)

Location                         object
Period                            int64
Indicator                        object
First Tooltip                   float64
Hale Expectency                 float64
Life expectany                  float64
% OF HALE in life expectancy    float64
dtype: object

In [28]:
merged_region_expectancy.describe()

,Period,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
count,216.000000,72.000000,144.000000,144.000000,144.000000
mean,2011.000000,70.556806,61.403333,70.556806,87.013889
std,7.122842,6.880156,5.961208,6.856057,1.404220
min,2000.000000,51.060000,45.030000,51.060000,85.000000
25%,2007.500000,66.585000,57.870000,66.585000,86.000000
50%,2012.500000,71.375000,61.665000,71.375000,87.000000
75%,2016.000000,75.525000,66.360000,75.525000,88.000000
max,2019.000000,81.290000,70.240000,81.290000,90.000000

In [29]:
# Calculate the medians
median_tooltip = 71.375
median_hale = 61.665
median_life = 71.375
median_hale_pct = 87.0

# Fill missing values with medians
merged_region_expectancy['First Tooltip'].fillna(median_tooltip, inplace=True)
merged_region_expectancy['Hale Expectency'].fillna(median_hale, inplace=True)
merged_region_expectancy['Life expectany'].fillna(median_life, inplace=True)
merged_region_expectancy['% OF HALE in life expectancy'].fillna(median_hale_pct, inplace=True)

# Verify that missing values are filled
print(merged_region_expectancy.isnull().sum())

Location                        0
Period                          0
Indicator                       0
First Tooltip                   0
Hale Expectency                 0
Life expectany                  0
% OF HALE in life expectancy    0
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_11964\2018587319.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_region_expectancy['First Tooltip'].fillna(median_tooltip, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11964\2018587319.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_region_expectancy['Hale Expectency'].fillna(median_hale, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11964\2018587319.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_region_expectancy['Life expectany'].fillna(median_life, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11964\2018587319.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_region_expectancy['% OF HALE in life expectancy'].fillna(median_hale_pct, inplace=True)

In [30]:
merged_region_expectancy.head()

,Location,Period,Indicator,First Tooltip,Hale Expectency,Life expectany,% OF HALE in life expectancy
0,Africa,2019,Life expectancy at birth (years),64.49,61.665,71.375,87.0
1,Africa,2019,Life expectancy at birth (years),62.37,61.665,71.375,87.0
2,Africa,2019,Life expectancy at birth (years),66.65,61.665,71.375,87.0
3,Africa,2015,Life expectancy at birth (years),62.56,61.665,71.375,87.0
4,Africa,2015,Life expectancy at birth (years),60.47,61.665,71.375,87.0

#### Check for Duplicate Rows

In [31]:
duplicate_rows = merged_region_expectancy[merged_region_expectancy.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate Rows:
            Location  Period                                        Indicator  \
144           Africa    2019  Healthy life expectancy (HALE) at birth (years)
145           Africa    2019  Healthy life expectancy (HALE) at birth (years)
146           Africa    2019  Healthy life expectancy (HALE) at birth (years)
147           Africa    2015  Healthy life expectancy (HALE) at birth (years)
148           Africa    2015  Healthy life expectancy (HALE) at birth (years)
..               ...     ...                                              ...
211  Western Pacific    2010  Healthy life expectancy (HALE) at birth (years)
212  Western Pacific    2010  Healthy life expectancy (HALE) at birth (years)
213  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)
214  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)
215  Western Pacific    2000  Healthy life expectancy (HALE) at birth (years)

     First Tooltip  Hale Expectency  Life expectany  \
144         71.375            56.04           64.49
145         71.375            55.00           62.37
146         71.375            57.09           66.65
147         71.375            54.42           62.56
148         71.375            53.38           60.47
..             ...              ...             ...
211         71.375            65.36           72.52
212         71.375            68.79           78.75
213         71.375            64.27           72.42
214         71.375            62.91           69.80
215         71.375            65.78           75.33

     % OF HALE in life expectancy
144                          87.0
145                          88.0
146                          86.0
147                          87.0
148                          88.0
..                            ...
211                          90.0
212                          87.0
213                          89.0
214                          90.0
215                          87.0

[72 rows x 7 columns]

### Merged Health Services

In [32]:
if merged_health_services is not None:
    print("Merged Health Services Data:")
    print(merged_health_services.head())

Merged Health Services Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Population using at least basic drinking-water...
1  Afghanistan    2016  Population using at least basic drinking-water...
2  Afghanistan    2015  Population using at least basic drinking-water...
3  Afghanistan    2014  Population using at least basic drinking-water...
4  Afghanistan    2013  Population using at least basic drinking-water...

   First Tooltip Dim1
0          57.32  NaN
1          54.84  NaN
2          52.39  NaN
3          49.96  NaN
4          47.56  NaN

In [33]:
print(merged_health_services.dtypes)

Location          object
Period             int64
Indicator         object
First Tooltip    float64
Dim1              object
dtype: object

In [34]:
#location, indicator, dim1 are categorical variables
merged_health_services.describe()

             Period  First Tooltip
count  20959.000000   20959.000000
mean    2008.994275      68.297133
std        5.129152      31.351259
min     2000.000000       0.000000
25%     2005.000000      41.675000
50%     2009.000000      80.950000
75%     2013.000000      96.800000
max     2019.000000     100.000000

In [35]:
# Print the columns in your DataFrame
print(merged_health_services.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_health_services.columns:
    # Drop the 'Dim1' column
    merged_health_services.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_health_services.head()

Index(['Location', 'Period', 'Indicator', 'First Tooltip', 'Dim1'], dtype='object')

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56

In [36]:
# Check for missing values 
missing_values_merged_health_services = merged_health_services.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_merged_health_services)

       Location  Period  Indicator  First Tooltip
0         False   False      False          False
1         False   False      False          False
2         False   False      False          False
3         False   False      False          False
4         False   False      False          False
...         ...     ...        ...            ...
20954     False   False      False          False
20955     False   False      False          False
20956     False   False      False          False
20957     False   False      False          False
20958     False   False      False          False

[20959 rows x 4 columns]

In [37]:
merged_health_services.head()

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56

#### Check for Duplicate Rows

In [38]:
duplicate_rows = merged_health_services[merged_health_services.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate Rows:
           Location  Period  \
3618        Andorra    2017
3619        Andorra    2017
3621        Andorra    2016
3622        Andorra    2016
3624        Andorra    2015
...             ...     ...
15871     Singapore    2001
15873     Singapore    2000
15957         Spain    2014
18941  Turkmenistan    2017
18942  Turkmenistan    2017

                                               Indicator  First Tooltip
3618   Population using at least basic sanitation ser...         100.00
3619   Population using at least basic sanitation ser...         100.00
3621   Population using at least basic sanitation ser...         100.00
3622   Population using at least basic sanitation ser...         100.00
3624   Population using at least basic sanitation ser...         100.00
...                                                  ...            ...
15871  Population using safely managed sanitation ser...         100.00
15873  Population using safely managed sanitation ser...         100.00
15957  Population using safely managed sanitation ser...          96.43
18941  Population with basic handwashing facilities a...         100.00
18942  Population with basic handwashing facilities a...         100.00

[429 rows x 4 columns]

### Merged Disease Incidence

In [39]:
if merged_disease_incidence is not None:
    print("Merged Disease Incidence Data:")
    print(merged_disease_incidence.head())

Merged Disease Incidence Data:
      Location                                          Indicator  Period  \
0  Afghanistan  Reported number of people requiring interventi...    2018
1  Afghanistan  Reported number of people requiring interventi...    2017
2  Afghanistan  Reported number of people requiring interventi...    2016
3  Afghanistan  Reported number of people requiring interventi...    2015
4  Afghanistan  Reported number of people requiring interventi...    2014

  First Tooltip Dim1
0      14834701  NaN
1      14786722  NaN
2      13275429  NaN
3      13765392  NaN
4      13384908  NaN

In [40]:
# Print the columns in your DataFrame
print(merged_disease_incidence.columns)

# Check if 'Dim1' exists in the columns
if 'Dim1' in merged_disease_incidence.columns:
    # Drop the 'Dim1' column
    merged_disease_incidence.drop(columns=['Dim1'], inplace=True)
else:
    print("'Dim1' column not found in DataFrame.")

# Print the updated DataFrame
merged_disease_incidence.head()

Index(['Location', 'Indicator', 'Period', 'First Tooltip', 'Dim1'], dtype='object')

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Reported number of people requiring interventi...,2018,14834701
1,Afghanistan,Reported number of people requiring interventi...,2017,14786722
2,Afghanistan,Reported number of people requiring interventi...,2016,13275429
3,Afghanistan,Reported number of people requiring interventi...,2015,13765392
4,Afghanistan,Reported number of people requiring interventi...,2014,13384908

In [41]:
merged_disease_incidence.describe()

             Period
count  10380.000000
mean    2010.349229
std        5.829804
min     2000.000000
25%     2005.000000
50%     2011.000000
75%     2015.000000
max     2019.000000

In [42]:
print(merged_disease_incidence.dtypes)

Location         object
Indicator        object
Period            int64
First Tooltip    object
dtype: object

In [43]:
# Assuming merged_disease_incidence is your DataFrame

# Preprocess 'First Tooltip' column
def extract_numeric(value):
    # Check if the value is a string
    if isinstance(value, str):
        # Extract numeric part from the string
        numeric_part = re.search(r'\d+', value)
        if numeric_part:
            return int(numeric_part.group())
    return None  # Return None for non-string or non-matching values

merged_disease_incidence['First Tooltip'] = merged_disease_incidence['First Tooltip'].apply(extract_numeric)

print(merged_disease_incidence.dtypes)
print(merged_disease_incidence.head())

Location          object
Indicator         object
Period             int64
First Tooltip    float64
dtype: object
      Location                                          Indicator  Period  \
0  Afghanistan  Reported number of people requiring interventi...    2018
1  Afghanistan  Reported number of people requiring interventi...    2017
2  Afghanistan  Reported number of people requiring interventi...    2016
3  Afghanistan  Reported number of people requiring interventi...    2015
4  Afghanistan  Reported number of people requiring interventi...    2014

   First Tooltip
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

In [44]:
# Check for missing values 
missing_values_merged_disease_incidence = merged_disease_incidence.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_merged_disease_incidence)

       Location  Indicator  Period  First Tooltip
0         False      False   False           True
1         False      False   False           True
2         False      False   False           True
3         False      False   False           True
4         False      False   False           True
...         ...        ...     ...            ...
10375     False      False   False          False
10376     False      False   False          False
10377     False      False   False          False
10378     False      False   False          False
10379     False      False   False          False

[10380 rows x 4 columns]

#### Check for Duplicate Rows

In [45]:
duplicate_rows = merged_disease_incidence[merged_disease_incidence.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate Rows:
          Location                                          Indicator  Period  \
7831   Afghanistan  New HIV infections (per 1000 uninfected popula...    2019
7832   Afghanistan  New HIV infections (per 1000 uninfected popula...    2019
7834   Afghanistan  New HIV infections (per 1000 uninfected popula...    2015
7835   Afghanistan  New HIV infections (per 1000 uninfected popula...    2015
7837   Afghanistan  New HIV infections (per 1000 uninfected popula...    2010
...            ...                                                ...     ...
10355       Zambia  New HIV infections (per 1000 uninfected popula...    2015
10358       Zambia  New HIV infections (per 1000 uninfected popula...    2010
10366     Zimbabwe  New HIV infections (per 1000 uninfected popula...    2019
10369     Zimbabwe  New HIV infections (per 1000 uninfected popula...    2015
10376     Zimbabwe  New HIV infections (per 1000 uninfected popula...    2005

       First Tooltip
7831             0.0
7832             0.0
7834             0.0
7835             0.0
7837             0.0
...              ...
10355            4.0
10358            5.0
10366            2.0
10369            3.0
10376            8.0

[1540 rows x 4 columns]

keeping duplicate rows because different values in one column c for maintaining data integrity and preserving unique information

### Maternal Health

In [46]:
if merged_maternal_health is not None:
    print("Merged Maternal Health Data:")
    print(merged_maternal_health.head())

Merged Maternal Health Data:
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Maternal mortality ratio (per 100 000 live bir...
1  Afghanistan    2016  Maternal mortality ratio (per 100 000 live bir...
2  Afghanistan    2015  Maternal mortality ratio (per 100 000 live bir...
3  Afghanistan    2014  Maternal mortality ratio (per 100 000 live bir...
4  Afghanistan    2013  Maternal mortality ratio (per 100 000 live bir...

    First Tooltip
0  638 [427-1010]
1  673 [457-1040]
2  701 [501-1020]
3  786 [592-1080]
4  810 [617-1080]

In [47]:
print(merged_maternal_health.columns)

Index(['Location', 'Period', 'Indicator', 'First Tooltip'], dtype='object')

In [48]:
merged_maternal_health.describe()

            Period
count  3294.000000
mean   2008.500000
std       5.188915
min    2000.000000
25%    2004.000000
50%    2008.500000
75%    2013.000000
max    2017.000000

In [49]:
print(merged_maternal_health.dtypes)

Location         object
Period            int64
Indicator        object
First Tooltip    object
dtype: object

In [50]:
# Preprocess 'First Tooltip' column
def extract_numeric(value):
    # Extract numeric part from the string using regex
    numeric_part = re.search(r'\d+', value)
    if numeric_part:
        return float(numeric_part.group())
    else:
        return None

# Apply the extract_numeric function to 'First Tooltip' column
merged_maternal_health['First Tooltip'] = merged_maternal_health['First Tooltip'].apply(extract_numeric)

print(merged_maternal_health.dtypes)
print(merged_maternal_health.head())

Location          object
Period             int64
Indicator         object
First Tooltip    float64
dtype: object
      Location  Period                                          Indicator  \
0  Afghanistan    2017  Maternal mortality ratio (per 100 000 live bir...
1  Afghanistan    2016  Maternal mortality ratio (per 100 000 live bir...
2  Afghanistan    2015  Maternal mortality ratio (per 100 000 live bir...
3  Afghanistan    2014  Maternal mortality ratio (per 100 000 live bir...
4  Afghanistan    2013  Maternal mortality ratio (per 100 000 live bir...

   First Tooltip
0          638.0
1          673.0
2          701.0
3          786.0
4          810.0

In [51]:
# Check for missing values 
missing_values_merged_maternal_health= merged_maternal_health.isnull()

# Print the DataFrame with missing value indicators
print(missing_values_merged_maternal_health)

      Location  Period  Indicator  First Tooltip
0        False   False      False          False
1        False   False      False          False
2        False   False      False          False
3        False   False      False          False
4        False   False      False          False
...        ...     ...        ...            ...
3289     False   False      False          False
3290     False   False      False          False
3291     False   False      False          False
3292     False   False      False          False
3293     False   False      False          False

[3294 rows x 4 columns]

#### Check for Duplicate Rows

In [52]:
duplicate_rows = merged_maternal_health[merged_maternal_health.duplicated()]

# Display duplicate rows (if any)
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

### Encoding

#### Indicator

In [53]:
# Initialize LabelEncoders for each DataFrame
label_encoder_health = LabelEncoder()
label_encoder_region = LabelEncoder()
label_encoder_life = LabelEncoder()
label_encoder_disease = LabelEncoder()
label_encoder_maternal = LabelEncoder()
label_encoder_mortality = LabelEncoder()

# Apply label encoding to 'Indicator' column in each DataFrame
merged_health_services['Indicator_encoded'] = label_encoder_health.fit_transform(merged_health_services['Indicator'])
merged_region_expectancy['Indicator_encoded'] = label_encoder_region.fit_transform(merged_region_expectancy['Indicator'])
merged_life_expectancy['Indicator_encoded'] = label_encoder_life.fit_transform(merged_life_expectancy['Indicator'])
merged_disease_incidence['Indicator_encoded'] = label_encoder_disease.fit_transform(merged_disease_incidence['Indicator'])
merged_maternal_health['Indicator_encoded'] = label_encoder_maternal.fit_transform(merged_maternal_health['Indicator'])
merged_mortality['Indicator_encoded'] = label_encoder_mortality.fit_transform(merged_mortality['Indicator'])

# Print unique indicators and encoded values for verification
print("Unique Indicators and Encoded Values in merged_health_services:")
print(merged_health_services[['Indicator', 'Indicator_encoded']].drop_duplicates())

print("\nUnique Indicators and Encoded Values in merged_region_expectancy:")
print(merged_region_expectancy[['Indicator', 'Indicator_encoded']].drop_duplicates())

print("\nUnique Indicators and Encoded Values in merged_mortality:")
print(merged_mortality[['Indicator', 'Indicator_encoded']].drop_duplicates())

# Repeat for other DataFrames

Unique Indicators and Encoded Values in merged_health_services:
                                               Indicator  Indicator_encoded
0      Population using at least basic drinking-water...                  1
3455   Population using at least basic sanitation ser...                  2
12823  Population using safely managed sanitation ser...                  3
16478  Population with basic handwashing facilities a...                  4
19204    Births attended by skilled health personnel (%)                  0

Unique Indicators and Encoded Values in merged_region_expectancy:
                                          Indicator  Indicator_encoded
0                  Life expectancy at birth (years)                  1
72  Healthy life expectancy (HALE) at birth (years)                  0

Unique Indicators and Encoded Values in merged_mortality:
                                               Indicator  Indicator_encoded
0      Infant mortality rate (probability of dying be...                  1
29999  Under-five mortality rate (probability of dyin...                  5
59998     Neonatal mortality rate (per 1000 live births)                  3
69133  Mortality rate attributed to unintentional poi...                  2
71878       Crude suicide rates (per 100 000 population)                  0
74623  Probability (%) of dying between age 30 and ex...                  4

#### Location

In [54]:
# Initialize LabelEncoders for each DataFrame
label_encoder_location_health = LabelEncoder()
label_encoder_location_region = LabelEncoder()
label_encoder_location_life = LabelEncoder()
label_encoder_location_disease = LabelEncoder()
label_encoder_location_maternal = LabelEncoder()
label_encoder_location_mortality = LabelEncoder()

# Apply label encoding to 'Location' column in each DataFrame
merged_health_services['Location_encoded'] = label_encoder_location_health.fit_transform(merged_health_services['Location'])
merged_region_expectancy['Location_encoded'] = label_encoder_location_region.fit_transform(merged_region_expectancy['Location'])
merged_life_expectancy['Location_encoded'] = label_encoder_location_life.fit_transform(merged_life_expectancy['Location'])
merged_disease_incidence['Location_encoded'] = label_encoder_location_disease.fit_transform(merged_disease_incidence['Location'])
merged_maternal_health['Location_encoded'] = label_encoder_location_maternal.fit_transform(merged_maternal_health['Location'])
merged_mortality['Location_encoded'] = label_encoder_location_mortality.fit_transform(merged_mortality['Location'])

# Print encoded values for verification (example for merged_health_services)
print(merged_health_services[['Location', 'Location_encoded']].head())
print(merged_health_services[['Location', 'Location_encoded']].tail())

      Location  Location_encoded
0  Afghanistan                 0
1  Afghanistan                 0
2  Afghanistan                 0
3  Afghanistan                 0
4  Afghanistan                 0
       Location  Location_encoded
20954  Zimbabwe               195
20955  Zimbabwe               195
20956  Zimbabwe               195
20957  Zimbabwe               195
20958  Zimbabwe               195

### Split merged_mortality

In [55]:
# Define features (X) and target (y)
X_cols_mortality = ['Location_encoded', 'Period', 'Indicator_encoded']
y_col_mortality = 'First Tooltip'

X_mortality = merged_health_services[X_cols_mortality]  # Use the appropriate DataFrame here
y_mortality = merged_health_services[y_col_mortality]  # Use the appropriate DataFrame here

# Split data into training and test sets
X_train_mortality, X_test_mortality, y_train_mortality, y_test_mortality = train_test_split(X_mortality, y_mortality, test_size=0.2, random_state=42)

# Scale numerical features
scaler = StandardScaler()
X_train_scaled_mortality = scaler.fit_transform(X_train_mortality)
X_test_scaled_mortality = scaler.transform(X_test_mortality)

# Now can use X_train_scaled_mortality, X_test_scaled_mortality, y_train_mortality, y_test_mortality 
# For example:
# 1. Train model using X_train_scaled_mortality, y_train_mortality
# 2. Evaluate model using X_test_scaled_mortality, y_test_mortality

### Split merged_life_expectancy

In [56]:
# Define features (X) and target (y)
X_cols_life = ['Location_encoded', 'Period', 'Indicator_encoded']
y_col_life = 'First Tooltip'

X_life = merged_life_expectancy[X_cols_life]
y_life = merged_life_expectancy[y_col_life]

# Split data into training and test sets
X_train_life, X_test_life, y_train_life, y_test_life = train_test_split(X_life, y_life, test_size=0.2, random_state=42)

# Scale numerical features
scaler = StandardScaler()
X_train_scaled_life = scaler.fit_transform(X_train_life)
X_test_scaled_life = scaler.transform(X_test_life)

# Now can use X_train_scaled_life, X_test_scaled_life, y_train_life, y_test_life 
# For example:
# 1. Train model using X_train_scaled_life, y_train_life
# 2. Evaluate model using X_test_scaled_life, y_test_life

### Split merged_region_expectancy

In [57]:
# Define features (X) and target (y)
X_cols_region = ['Location_encoded', 'Period', 'Indicator_encoded', 'Hale Expectency', 'Life expectany', '% OF HALE in life expectancy']
y_col_region = 'First Tooltip'

X_region = merged_region_expectancy[X_cols_region]
y_region = merged_region_expectancy[y_col_region]

# Split data into training and test sets
X_train_region, X_test_region, y_train_region, y_test_region = train_test_split(X_region, y_region, test_size=0.2, random_state=42)

# Scale numerical features
scaler_region = StandardScaler()
X_train_scaled_region = scaler_region.fit_transform(X_train_region)
X_test_scaled_region = scaler_region.transform(X_test_region)

# Now can use X_train_scaled_region, X_test_scaled_region, y_train_region, y_test_region 
# For example:
# 1. Train model using X_train_scaled_region, y_train_region
# 2. Evaluate model using X_test_scaled_region, y_test_region

### Split merged_health_services

In [58]:
# Define features (X) and target (y)
X_cols_health = ['Location_encoded', 'Period', 'Indicator_encoded']
y_col_health = 'First Tooltip'

X_health = merged_health_services[X_cols_health]
y_health = merged_health_services[y_col_health]

# Split data into training and test sets
X_train_health, X_test_health, y_train_health, y_test_health = train_test_split(X_health, y_health, test_size=0.2, random_state=42)

# Scale numerical features
scaler_health = StandardScaler()
X_train_scaled_health = scaler_health.fit_transform(X_train_health)
X_test_scaled_health = scaler_health.transform(X_test_health)

# Now can use X_train_scaled_health, X_test_scaled_health, y_train_health, y_test_health
# For example:
# 1. Train model using X_train_scaled_health, y_train_health
# 2. Evaluate model using X_test_scaled_health, y_test_health

### Split merged_disease_incidence

In [59]:
# Define features (X) and target (y)
X_cols_disease = ['Location_encoded', 'Indicator_encoded', 'Period']
y_col_disease = 'First Tooltip'

X_disease = merged_disease_incidence[X_cols_disease]
y_disease = merged_disease_incidence[y_col_disease]

# Split data into training and test sets
X_train_disease, X_test_disease, y_train_disease, y_test_disease = train_test_split(X_disease, y_disease, test_size=0.2, random_state=42)

# Scale numerical features
scaler_disease = StandardScaler()
X_train_scaled_disease = scaler_disease.fit_transform(X_train_disease)
X_test_scaled_disease = scaler_disease.transform(X_test_disease)

# Now can use X_train_scaled_disease, X_test_scaled_disease, y_train_disease, y_test_disease 
# For example:
# 1. Train model using X_train_scaled_disease, y_train_disease
# 2. Evaluate model using X_test_scaled_disease, y_test_disease

### Split merged_maternal_health

In [60]:
# Define features (X) and target (y) for merged_maternal_health
X_cols_maternal = ['Location_encoded', 'Period', 'Indicator_encoded']
y_col_maternal = 'First Tooltip'

X_maternal = merged_maternal_health[X_cols_maternal]
y_maternal = merged_maternal_health[y_col_maternal]

# Split data into training and test sets
X_train_maternal, X_test_maternal, y_train_maternal, y_test_maternal = train_test_split(X_maternal, y_maternal, test_size=0.2, random_state=42)

# Scale numerical features
scaler_maternal = StandardScaler()
X_train_scaled_maternal = scaler_maternal.fit_transform(X_train_maternal)
X_test_scaled_maternal = scaler_maternal.transform(X_test_maternal)

# Now can use X_train_scaled_maternal, X_test_scaled_maternal, y_train_maternal, y_test_maternal 
# For example:
# 1. Train model using X_train_scaled_maternal, y_train_maternal
# 2. Evaluate model using X_test_scaled_maternal, y_test_maternal